* {
  font-family: 'Montserrat', sans-serif;
}

.title {
  color: white;
  margin-top: 3rem;
  text-align: center;
}

.members {
  color: white;
  margin-top: 4rem;
  text-align: center;
}

.button-div {
  border: white 2px solid;
  border-radius: 20px;

  margin: 3rem 4rem;
  width: 100vw;
  height: 150px;
  padding-top: 1rem;
  button {
    display: block;
    margin: auto;
    background-color: none;
    border: white 2px solid;
    border-radius: 10px;
    padding: 20px;
    transition: color 0.9s ease;
    &:hover {
      color: grey;
    }
  }
}

.query-div {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

body {
  background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
}

#johnsmith-qb {
  h2 {
    color: white;
    text-align: center;
    margin-top: 1rem;
  }
}

.afc-winner {
  color: white;
  text-align: center;
}
#nfc-teams {
  height: 500px;
}
.team-list {
  margin-top: 1rem;
  height: 80%;
  overflow-y: scroll;
  text-align: center;
  ul {
    list-style: none;
    color: white;
    font-size: 2rem;
  }
}
